.order{
    font-family: 'microsoft yahei';
    font-size:14px;
    .addOrderBlock{
        margin-top: 20px;
        margin-bottom:20px;
        .buyerInfo{
            display: flex;
        }
        .time{
            display: inline-block;
        }
        .addBtn{
            display: inline-block;
        }
    }
    .addGoodsBlock{
        margin-top: 20px;
        margin-bottom:20px;
        display: flex;
        .goodsInfo{
            display: flex;
        }
    }
    .goodsTableList{
        margin-top: 20px;
        margin-bottom:20px;
        width: 100%;
        text-align: left;
        .goodsListHead{
            th{
                width:150px;
            }
        }
        .goodsList{
            
        }
    }
    
}