@import './components/order/order.less';
@import './components/orderInquire/orderInquire.less';
@import './components/nav/nav.less';
@import './components/common/goodList.less';

.container{
    width:90%;
    margin: auto;
    display: flex;
}
.navBlock{
    width:15%;
}
.contentBlock{
    width:85%;
}

